! Local users:
!   {{passwords.keys()}}
!
! -- passwords|dictsort
! Sorted: {{passwords|dictsort}}
! 
! -- formatted: passwords.keys()|join(",")
! Nicely formatted: {{passwords.keys()|join(",")}}
!
! -- sorted usernames: passwords|sort|join(",")
! Sorted username: {{passwords|sort|join(",")}}
!
{% for username,password in passwords.items() %}
user {{username}} password {{password}}
{% endfor %}
