{% macro ifaddr(intf,mask) %}
  ip address {{intf.ip}} {{mask|default(intf.mask)|default('255.255.255.0')}}
{% endmacro %}
!
interface loopback 0
{{ ifaddr(loopback,'255.255.255.255') }}
!
interface fa0/0
{{ ifaddr(LAN) }}
!
interface serial0/1
{{ ifaddr(WAN['0']) }}
