{# This is a template comment #}
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
{# Device name is in the hostname variable #}
hostname {{hostname}}
!
logging buffered 4096
logging host {{syslog}}
!
no aaa new-model