service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{hostname}}
!
logging buffered 4096
!
no aaa new-model
!
interface loopback 0
 ip address {{loopback.ip}} {{loopback.subnet|default("255.255.255.255")}}