value: {{value}}
sequence: {{sequence}}

Is a string?
{% if value is string%}--> Value is string{% endif %}
{% if sequence is string%}--> Sequence is string{% endif %}

Is iterable?
{% if value is iterable%}--> Value is iterable{% endif %}
{% if sequence is iterable%}--> Sequence is iterable{% endif %}

Is sequence?
{% if value is sequence%}--> Value is sequence{% endif %}
{% if sequence is sequence%}--> Sequence is sequence{% endif %}
