{% for name,vlan in vlans|dictsort %}
vlan {{vlan.id}}
  name {{name}}
  description {{vlan.description}}
{% endfor %}
!
{% for name,intf in interfaces|dictsort %}
interface {{name}}
 switchport access {{vlans[intf.vlan].id}}
{% endfor %}