Jinja2==2.11.3
chardet==3.0.4
cryptography==3.3.1
ansible==3.2.0
paramiko
netmiko
textfsm
pylint>=2.1.1
yapf>=0.2.4
requests>=2.2.0
urllib3>=1.24
lxml>=4.2.5
jmespath
scp
ciscoconfparse
netaddr
genie
pyats
pynetbox
objectpath
napalm
napalm-ansible
yamllint
yq
ntc-templates
ttp
