ansible==2.9.13
paramiko
netmiko
textfsm
pylint>=2.1.1
yapf>=0.2.4
requests>=2.2.0
urllib3>=1.24
lxml>=4.2.5
jmespath
scp
ciscoconfparse
netaddr
genie
pyats
pynetbox
objectpath
napalm
napalm-ansible
yamllint
yq
ntc-templates
ttp
